@model IEnumerable<SchoolManagement.Models.ViewModels.Subject>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Fee Payment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="text-sm-right">
        <h2 class="btn-block">Welcome @User.FindFirst("names").Value</h2>
    </div>

    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>
    </div>
    <div class="text-sm-left">
        <h5 class="btn-block">Result</h5>
    </div>
    <table id="studfee" class="table table-striped table-bordered" style="width:100%">
        <tr class="table-info">
            <th>Name</th>
            <th>Email</th>
            <th>Class</th>
            <th>Maths</th>
            <th>Science</th>
            <th>English</th>
            <th>Hindi</th>
            <th>Computer</th>

        </tr>
        @foreach (var marks in Model)
        {
    <tr>
        <td>@marks.FirstName</td>
        <td>@marks.Email</td>
        <td>@marks.Class</td>
        <td>@marks.Maths</td>
        <td>@marks.Science</td>
        <td>@marks.English</td>
        <td>@marks.Hindi</td>
        <td>@marks.Computer</td>
    </tr>
        }
    </table>
</body>
</html>



