@model IEnumerable<SchoolManagement.Models.ViewModels.StudentSubjectDetails>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Fee Payment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div class="text-sm-right">
        <h2 class="btn-block">Welcome @User.FindFirst("names").Value  </h2>
    </div>
    <div class="col-2 text-right" style="float:right">
        <img src="\Images\@User.FindFirst("image").Value" width="30%" style="border-radius:5px; border:1px solid #4cff00">
    </div>
    <div class="col-2 text-right" style="float:right">
        <a type="submit" class="btn btn-primary form-control" asp-area="Users" asp-controller="Login" asp-action="Logout">Logout</a>
    </div>
    <div class="col-2 text-right" style="float:right">
        <img src="\Images\@User.FindFirst("image").Value" width="30px" height="40px" style="border-radius:5px; border:1px solid #4cff00">
    </div>
    <div class="text-sm-left">
        <h5 class="btn-block">Report</h5>
    </div>
    <table id="studfee" class="table table-striped table-bordered" style="width:100%">
        <tr class="table-info">
            <th>UserId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Class</th>
            <th>Maths</th>
            <th>Science</th>
            <th>English</th>
            <th>Hindi</th>
            <th>Computer</th>
        </tr>
        @foreach (var stud in Model)
        {
    <tr>
        <td>inUserId</td>
        <td>@stud.FirstName</td>
        <td>@stud.Email</td>
        <td>@stud.Class</td>
        <td>@stud.Maths</td>
        <td>@stud.Science</td>
        <td>@stud.English</td>
        <td>@stud.Hindi</td>
        <td>@stud.Computer</td>
    </tr>
        }
    </table>   
</body>
</html>



